/* Your custom styles goes here */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

h1 a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
  margin-top: 1rem;
  margin-bottom: 0.8rem
}